**/node_modules/**
**/.vscode/**
**/.aws-sam/**
**/package-lock.json
**/samconfig.toml

react2/recipes-app/node_modules/*
react2/recipes-app/dist/*
**/node_modules
**/build
**/dist
**/package-lock.json
**/amplify

react2/recipes-app/package-lock.json
react2/stars-app/package-lock.json
reports-bloom.code-workspace
react2/blocking-alert/package-lock.json
learn/fullstack-app/yarn.lock
**/reports-bloom-app/**
**/learn/**
